//black && grey-teal
$primary-color: #212121;
$dark-primary-color: #616161;
$accent-color: #607D8B;
$divider-color: #BDBDBD;
$secondary-color: #757575;

//red && blues
$red-dark-primary-color: #D32F2F;
$red-light-primary-color: #FFCDD2;
$red-primary-color: #F44336;

