.navbar {
    z-index: 1;
}
.homeIcon img {
    height: 40px;
    width: 40px;
}
.homeIcon{
  display: inline-block
}
.navButton{
  /*font-weight: bold;*/
  color: white;
    border: 1px white solid;
    border-radius: 15px;
    background-color: black;
}
.navButton::first-letter{
    font-weight: bold;
}
nav{
  /*box-shadow: 0 7px 6px -5px #939393*/
  /*WHITE HUE: #939393*/
  /*YELLOW HUE: #fdffc4*/
  /*GRAY HUE: #4f4f4f*/
  box-shadow: 0 4px 8px 0 #3d3d3d, 0 6px 20px 0 #3d3d3d;
}
nav li:hover{
    animation: hoverblink 1s linear alternate infinite
}