#page-numbers div{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid #ffdf06;
    background-color: #292b2c;
    color: gold;
    text-align: center;
    border-radius: 10px;
    margin-right: 2px;
}
#page-numbers div:hover {
    background-color: darkblue;
    color: white;
}

@keyframes paginGlow {
    0% {border: solid goldenrod 1px}

}
#page-numbers .paginEdge {
    width: 90px;
}