#page-numbers div{
    display: inline-block;
    height: 30px;
    width: 40px;
    border: 1px solid #ffdf06;
    background-color: #292b2c;
    color: gold;
    font-family: pressStart;
    text-align: center;
    border-radius: 10px;
    margin-right: 2px;
}
#page-numbers div:hover {
    background-color: #0a0a0a;
    color: white;
    border-color: white;
}

#page-numbers .active {
    background-color: #0a0a0a;
    color: white;
}

@keyframes paginGlow {
    0% {border: solid goldenrod 1px}

}
#page-numbers .paginEdge {
    width: 70px;
    background-color: #0a0a0a;
}