@-webkit-keyframes bodyback {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}
@-moz-keyframes bodyback {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}
@keyframes bodyback {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}
body {
  user-select: none;
  width: 100vw;
  height: 100vh;
  /*YELLOW HEW: #868269, #575444, #201f18*/
  /*PURPLE HEW: #7146a7, #492c6d, #29193e*/
  /*BLUE-PURPLE-PINK HEW: #292a4f, #3a294f, #4c294f*/
  /*DARK PURPLE HEW: #350064, #220040, #000000*/
  /*BLUE-ISH HEW: #280468, #1c024b, #000000*/
  background: linear-gradient(337deg, #8161a9, #15002f,#090015, #000000 );
  background-size: 600% 600%;
  -webkit-animation: bodyback 50s ease infinite;
  -moz-animation: bodyback 50s ease infinite;
  animation: bodyback 50s ease infinite;
}

.landingCenter{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}


.searchButton{
    margin: 5px;
    height: 50px;
    font-size: 20px;
}
.playerRecommendations {
    height: 50vh;
    width: 100vw;
    position: relative;
}
.playerCard {
    height: 200px;
    width: 160px;
    background-color: grey;
    display: inline-block;
    margin: 20px 15px;
}
.autocomplete{
    top: 100%;
    position: absolute;
    display: block;
    width: 360px;
    background-color: black;
    z-index: 2000;
}
.autocomItem{
    display: inline-block;
    height: 60px;
}
.autocomItem > div {
    display: inline-block;
}
.autocomPic {
    height: 30px;
    width: 30px;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px black;
}
.scrollmenu{
  overflow: scroll;
  white-space: nowrap;
  margin-top: 30px;
}
.scrollmenu div{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.player_card{
  overflow: wrap;
  border: solid #A4A4A4 1px;
  margin: 3px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: inline-block;
  /*position: relative;*/
  vertical-align: bottom;
}
.landpage_logo img{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  /*box-shadow: 0 10px 6px -5px #939393*/
}
.form-control{
  border: 2px solid #EC971F;
}
.container{
  width: 100vw;
}
.player_text{
  border-radius: 4px;
  width: 100%;
  float: bottom;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.5;
}
.player_card:hover .player_text{
  visibility: visible;
  opacity: 1;
}
/*SearchResults styling*/
.search_results{
  height: 90vh;
}

/* About Us Styling */
h1 {
    color: white;
    text-align: center;
    margin: 30px;
}

.description {
    width: 70%;
    height: 30%;
    color: #911f1f;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid white;
}
.card {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 30px 10px 10px 30px;
    border-radius: 10px;

}

.card .after {
    position: absolute;
    width: 100%;
    display: none;
    color: #FFF;
}

.card:hover .after {
    top: 80%;
    height: 20%;
    text-align: center;
    display: block;
    background: rgba(0,0,0,0.6);
    font-size: 12pt;
    vertical-align: middle;
    line-height: 55px;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    border-radius: 10px;
}

.card-row {
    text-align: center;
    width: 100%;
}

.name {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.carousel{
  margin-top: 80px;
}
