.navbar--z-index {
  z-index: 1;
}

.home-icon {
  display: inline-block;
}

.home-icon img {
  height: 40px;
  width: 40px;
}
.home-icon img:hover {
  animation: spin2win 1s linear infinite;
}

nav {
  /*box-shadow: 0 7px 6px -5px #939393*/
  /*WHITE HUE: #939393*/
  /*YELLOW HUE: #fdffc4*/
  /*GRAY HUE: #4f4f4f*/
  box-shadow: 0 4px 8px 0 #3d3d3d, 0 6px 20px 0 #3d3d3d;
}

.navbar-ul--width {
  width: 100%;
}

.nav-button {
  /*font-weight: bold;*/
  height: 100%;
  color: whitesmoke !important;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

.nav-button::first-letter {
  font-size: 20px;
}

.nav-item {
  border-bottom: 1px solid transparent;
  border-radius: 10px;
}

.nav-item:hover {
  animation: hoverblink 0.75s linear alternate infinite;
  border-bottom: 2px solid #b7afca;
  border-radius: 5px;
}

