.page-container {
    animation: fromDarkness 1.5s linear;
    margin: 0 auto;
    width: 80vw;
}

.page-container div,
.paginEdge {
    font-family: pressStart;
    display: inline-block;
    height: 30px;
    text-align: center;
}

.pagination--container {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.pagination--pages {
    display: inline-block;
    width: 5%;
}

.pagination--pages:hover {
    border: 1px solid goldenrod;
    border-radius: 5px;
}

.pagination--break {
    display: inline-block;
}

.pagination--keys {
    display: inline-block;
}

.pagination--active {
    font-size: 1.5em;
    border-bottom: ;
}

.page-numbers {
    width: 20%;
}

@keyframes paginGlow {
    0% {
        border: solid goldenrod 1px;
    }
}

@-webkit-keyframes fromDarkness {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
