.page-container {
  animation: fromDarkness 1.5s linear;
  margin: 0 auto;
  width: 80vw;
}

.page-container div, .paginEdge {
    font-family: pressStart;
    display: inline-block;
    height: 30px;
    text-align: center;
}

/*.page-container div:hover {
    background-color: #0a0a0a;
    color: white;
    border-color: white;
}*/

/*.page-container .active {
    background-color: #0a0a0a;
    color: white;
}*/

.page-numbers {
    width: 20%;
}

@keyframes paginGlow {
    0% {
        border: solid goldenrod 1px;
    }
}

@-webkit-keyframes fromDarkness {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}