.searchbar-container {
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    margin-top: 10px;
    z-index: 2001;
}

.searchBar {
    padding-left: 3px;
    background-color: white;
    width: 100%;
    border: 2px solid #f0ad4e;
    border-radius: 0.25rem;
    overflow-y: hidden;
}

.searchBar:active {
    border: 2px solid blue;
}

.searchBar:focus {
    border: 2px solid blue;
}

.sbElement {
    display: inline;
}

.validName {
    background-color: #b7b7b7;
    padding: 2px;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 5px;
    margin: 0px 2px;
}

.vs {
    background-color: #e57167;
    padding: 2px;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 5px;
    margin: 0px 2px;
}

.complete {
    color: darkgray;
    #background-color: lightgreen;
}

.inputLine {
    display: inline;
    width: 3px;
    height: 40px;
    border-width: 0;
}

.inputLine:focus {
    outline-width: 0;
}

#testing {
    color: white;
    font-size: 40px;
}