#profile-card,
#matches_stream {
  color: #ffdf06;
  border-radius: 10px;
}

h3 {
  margin: 0;
}

.tab-pane {
  margin-top: 10px;
}

.match-box {
  padding-bottom: 1vw;
}

@media (max-width: 768px) {
  #container {
    width: 99%;
  }
}

.value {
  font-family: "Bangla Sangam MN";
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px red;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px black;
}
.recent_match {
  overflow-y: scroll;
  white-space: nowrap;
  height: 30vh;
}

.theader {
  font-weight: bolder;
  color: white;
}
.char_img_sizing {
  width: 50px;
  height: 50px;
}
.toggle {
  height: 45vh;
}
.hidden {
  display: none;
}
.profile_resizing {
  width: 100px;
  height: 100px;
}
.youtube_icon {
  width: 30px;
  height: 30px;
}
.recent_tournament_tag {
  margin-bottom: 0px;
  font-size: 20px;
  text-decoration: underline;
  color: #ffdf06;
}
.back_button {
  vertical-align: top;
}
.player_image {
  height: 250px;
  overflow-wrap: break-word;
  position: relative;
  margin: 0.2%;
  border-radius: 10px;
  vertical-align: bottom;
  padding: 0;
}
.player_tag {
  border-radius: 4px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
.player_image:hover .player_tag {
  visibility: visible;
  opacity: 1;
}
.player_information {
  border-radius: 10px;
}

.tournament-selected,
.table-content,
.player_info {
  color: #ffdf06;
}

.table-hover:hover {
  animation: hoverblink 0.75s alternate infinite;
  border-top: 1px solid white;
  cursor: pointer;
}
.table-content td {
  white-space: pre;
}

select {
  color: #ffdf06;
  font-family: Aero;
  background-color: #050215;
  height: 45px;
  /*font-weight: bold;*/
  font-size: 1.25em;
}

@media screen and (max-width: 576px) {
  .recent_tournament_tag {
    margin-left: 15px;
  }
}

@media screen and (max-width: 470px) {
  .chart-display {
    display: none;
  }
  .yt-player {
    height: 150px;
    width: 290px;
  }
  .recent_match {
    font-size: 0.75rem;
    height: 100%;
  }
  .player_info{
    padding-left: 40px;
  }
}

@font-face {
  font-family: pressStart;
  src: url(../imgs/PressStart2P.ttf) format("truetype");
}
@font-face {
  font-family: Aero;
  src: url(../imgs/Aero.ttf) format("truetype");
}
